<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <h1>
       URL Shortener
     </h1>
     <p>
       Give a web-address as a parameter and recieve a new shortened URL in return.<br>
       From then on that shortened URL will redirect you to the web-address you specified as a parameter.
     </p>
     <p>
       E.g. typing:<br><br>
       <span class="highlight">https://fcc-urlshortener.glitch.me/www.google.com</span><br><br>
       could return you the following:<br><br>
       {"Original Url":"www.google.com","Shortened Url":"https://fcc-urlshortener.glitch.me/2031"}<br><br>
       Now typing https://fcc-urlshortener.glitch.me/2031 would redirect you to Google.
     </p>
     <p>
       Please note, each user (i.e. IP address), has their own unique set of shortened URLs for each website they give to this microservive.
     </p>
     
   </body>

</html>
